body {
  background-color: #d3dff8;
}


.custom-bg {
    background-color:#d8ecee ;
}

.carousel {
  position: relative;
}

.carousel .carousel-inner {
  position: relative;
}

.carousel .carousel-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../Images/logo\ header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
  z-index: -1;
  background-color: #070707;
}

.carousel img {
  max-height: 300px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  display: none;
}

/* Media Queries for Responsiveness */

@media (max-width: 992px) {
  .carousel img {
    max-height: 150px;
  }
}
@media (max-width: 768px) { /* Change the breakpoint according to your needs */
  #navbar-logo {
    max-width: 100px;
    height: auto;
  }
}
