body {
  background-color: #d6e1f8;
}



.card-title {
  font-size: 15px;
}
.custom-bg {
  background-color: #c7e2e6;
}

.carousel {
  position: relative;
  margin-top: 150px;
}

.carousel .carousel-inner {
  position: relative;
}

.carousel .carousel-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../Images/logo\ header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
  z-index: -1;
  background-color: #070707;
}

.carousel img {
  max-height: 300px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  display: none;
}

.margintop {
  margin-top: 200px;
}

.industries {
  margin-top: 200px;
  background-color: #d8ecee;
  margin: 0;
  display: inline;
}

.blog {
  margin-top: 200px;
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* This ensures that the video retains its aspect ratio */
  position: relative;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ep1500 {
  margin-top: 200px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.photo-grid .photo-container {
  flex: 0 1 300px;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #0900ca;
  margin: 10px;
  text-align: center;
}

.photo-grid img {
  width: 100%;
  height: auto;
}

/* Media Queries for Responsiveness */

@media (max-width: 992px) {
  .carousel img {
    max-height: 150px;
  }
}
@media (max-width: 768px) {
  /* Change the breakpoint according to your needs */
  #navbar-logo {
    max-width: 100px;
    height: auto;
  }

  .blog {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  .card-title {
    font-size: 11px;
  }
}
